config owrt-tgbot 'main'
    option bot_token ''
    list allowed_chat_id ''
    option poll_timeout '30'
    option log_level 'info'
    option notify_backend 'telegram'
    option proxy_enabled '0'
    option proxy_url 'socks5h://127.0.0.1:1080'

config alerts 'alerts'
    option enabled '1'
    option new_device '1'
    option wan_status '1'
    option temp_threshold '1'
    option temp_limit '85'

config traffic 'traffic'
    option interface 'eth1'
    option warn_daily_gb '0'
